main{
    .ancorNoticias{
        font-family: $tipografiaPrincipal;
        color: #000000;
        text-decoration: none;
        & :hover{
            color: #37bbed;
        }
    }
    .tituloSecundario{
        padding-left: 5%;

    }
        


        
        }
        
