main{
    section{
        
        .card{
            margin: 5%;

        }
        .card h5{
            color: #37bbed;
        }
        p{
            font-family: $tipografiaPrincipal;
        }
        
    }

}