main{
    .imgCentralSn {
        width: 100%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }

    }
}
.caja1Sn {
    background-color: #ffffff;
    position: relative;
    bottom: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    
}
