main{
    .imgCentralSn {
        @include image;
        img{
            @include image;
        }

    }
}
.caja1Sn {
    background-color: #ffffff;
    position: relative;
    bottom: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    
}
