.contenedorPie {
    position: relative;
    margin-top: 30px;
    height: 100px;
    background-color: #37bbed;
    display: flex;
    justify-content: space-between;
}

.contenedorPie p {
    color: #cfcfcf;
    font-family: 'encode-sans condensed', sans-serif;
    margin-top: 30%;
}

#logo2 {
    background-color: #37bbed;
    height: 95%;
    display: flex;
}

.iconRrss {
    display: flex;
    justify-content: space-between;

}

#iconInst {
    font-size: 35px;
    margin-top: 40%;

}

#iconTw {
    background-color: #ffff;
    font-size: 35px;
    margin-top: 40%;
    
}
.copyfooter{

    font-size: medium;


}
